<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADta7DR7D4WVfq85RXP2wyNSmGtFtLlFc</string>
	<key>GCM_SENDER_ID</key>
	<string>740445450138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lunnaiirair.Lunair</string>
	<key>PROJECT_ID</key>
	<string>lunair-gravity</string>
	<key>STORAGE_BUCKET</key>
	<string>lunair-gravity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740445450138:ios:5e3d3c50cf402c56761423</string>
</dict>
</plist>